<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homage.app"
    >

    <!--
        ===================================================================
        Supported screen sizes
        ===================================================================
    -->
    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <!-- all large size screens -->
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
    </compatible-screens>

    <!--
        ===================================================================
          Uses permissions - לא לוקחים מפתח של חביתוש בלי רשות של רגע ודודלי
        ===================================================================
    -->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Camera / Video recording / storage -->
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />


    <!-- GCM -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="com.homage.app.permission.C2D_MESSAGE" />
    <permission
        android:name="com.homage.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />


    <!-- Networking -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- The Homage Android Application! -->
    <application
        android:name=".main.HomageApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"


        ><!--android:theme="@style/HomageTheme"-->

        <!-- Google play services -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Facebook login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            />

        <!-- Sugar ORM settings -->
        <!-- (A spoon full of Sugar, makes a database go down?) -->
        <meta-data android:name="DATABASE" android:value="HomageLocalStorage.db" />

        <!--
            No need to update model version unless the model has changed.
            If model changed, change the version of the model according to the version of the app.
        -->
        <meta-data android:name="VERSION" android:value="1001" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.homage.model" />

        <activity
            android:name=".main.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        /**

        $$\   $$\  $$$$$$\  $$\      $$\  $$$$$$\   $$$$$$\  $$$$$$$$\
        $$ |  $$ |$$  __$$\ $$$\    $$$ |$$  __$$\ $$  __$$\ $$  _____|
        $$ |  $$ |$$ /  $$ |$$$$\  $$$$ |$$ /  $$ |$$ /  \__|$$ |
        $$$$$$$$ |$$ |  $$ |$$\$$\$$ $$ |$$$$$$$$ |$$ |$$$$\ $$$$$\
        $$  __$$ |$$ |  $$ |$$ \$$$  $$ |$$  __$$ |$$ |\_$$ |$$  __|
        $$ |  $$ |$$ |  $$ |$$ |\$  /$$ |$$ |  $$ |$$ |  $$ |$$ |
        $$ |  $$ | $$$$$$  |$$ | \_/ $$ |$$ |  $$ |\$$$$$$  |$$$$$$$$\
        \__|  \__| \______/ \__|     \__|\__|  \__| \______/ \________|

                               Main Activity

        */
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.homage.app" />
            </intent-filter>
        </activity>

        <!--
            #############################################

                              Homage
             ____  ____  ___  __  ____  ____  ____  ____
            (  _ \(  __)/ __)/  \(  _ \(    \(  __)(  _ \
             )   / ) _)( (__(  O ))   / ) D ( ) _)  )   /
            (__\_)(____)\___)\__/(__\_)(____/(____)(__\_)

                             Activity

            #############################################
        -->
        <activity
            android:name=".recorder.RecorderActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>

        <!--
            ############################################

                         Overlay dialogue
                            Activities

            ############################################
        -->
        <activity
            android:name=".recorder.RecorderOverlayDlgActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent"
            >
        </activity>

        <activity
            android:name=".recorder.RecorderOverlayWaitActivity"
            android:screenOrientation="landscape"
            >
        </activity>



        <activity
            android:name=".recorder.RecorderOverlaySceneMessageDlgActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent"
            >
        </activity>

        <activity
            android:name=".recorder.RecorderOverlayFinishedSceneMessageDlgActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent"
            >
        </activity>

        <activity
            android:name=".recorder.RecorderOverlayFinishedAllSceneMessageDlgActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent"
            >
        </activity>

        <activity
            android:name=".recorder.RecorderOverlayRetakeSceneQuestionDlgActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent"
            >
        </activity>


        <!-- Settings activity -->
        <activity android:name=".main.SettingsActivity"
            android:screenOrientation="portrait"
            >

        </activity>

        <!-- Login activity -->
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <!-- Text reader activity (used for terms of service and privacy policy -->
        <activity
            android:name=".user.TextReaderActivity"
            android:screenOrientation="portrait"
            ></activity>

        <!-- Full screen video player -->
        <activity android:name=".player.FullScreenVideoPlayerActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            >
        </activity>

        <!-- Welcome screen -->
        <activity android:name=".main.WelcomeScreenActivity"
            android:screenOrientation="sensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|screenLayout|uiMode"
            >
        </activity>


        <!-- Uploader -->
        <receiver android:name="com.homage.networking.uploader.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.homage.networking.uploader.UploaderService"
            android:exported="false"
            />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="daa34917843cd9e52b65a68cec43efac16fb680a"/>

        <!-- GCM -->
        <receiver
            android:name="com.homage.networking.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name="com.homage.networking.gcm.GcmIntentService" />


    </application>
</manifest>
